<!DOCTYPE HTML>
<!--

Oh, you like code ?
Nah, I know you don't
So let's play a game

-====== 1337 0nly ======-

1-
l37'5 54y y0u f1nd 6 m47ch35 0n 7h3 51d3w4lk b3c4u53 y0u w3r3 w4lk1n6 b3h1nd 4 c0wb0y
w0uld y0u b3 4bl3 70 m4k3 4 3qu1l473r4l 7r14n6l35 w17h 7h3m ?
- h1n7 : b3c4u53 m47ch35 4r3 j34l0u5 4nd d4n63r0u5 y0u h4v3 70 u53 4ll 0f 7h3m w17h0u7 cr0551n6 7h3m
2-
c4n y0u 61v3 m3 7h3 n3x7 l1n3 ?
   1
   11
   21
  1211
 111221
 312211
13112221

3-
The hardest part : try to contact me to give me the answers !
y0u c4n f1nd 4n h1n7 1n 7h3 c0d3 !
-->

<html>
	<head>
		<title>Jop | Tokenized Services Platform - Live Since 2016</title>

		<meta name="description" content="Jop is the first platform applying blockchain technology that people can use and benefit from today. Welcome to the future of the On-Demand Economy, powered by blockchain.">
		<meta name="keywords" content="Jop, on-demand, on-demand economy, blockchain, ico, token sale, whitepaper, lightpaper, jop nyc, jop whitepaper, jop lightpaper, live dapp, dapp, blockchain dapp, blockchain token, token sale, ico, jopt, jop token, jopt sale, jop token sale, jop dapp, jop app, jop ico, buy jopt, buy jop token, jop team, jopt team, jop token team, jop pre-sale, jop public sale,">
		<meta property="og:title" content="Jop | Tokenized Services Platform - Live Since 2016">
		<meta property="og:description" content="Jop is the first platform applying blockchain technology that people can use and benefit from today. Welcome to the future of the On-Demand Economy, powered by blockchain.">
		<meta property="og:image" content="images/share.jpg">
		<meta property="og:image:type" content="image/jpeg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="860">

		<meta charset="utf-8" />
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="stylesheet" href="assets/css/main.min.css" />
	</head>
	<body>
		<!-- 5cr0ll d0wn -->
		<nav class="navbar navbar-expand-md position-absolute  fixed-top navbar-dark" id="jop-navbar">
			<a class="navbar-brand" href="#">
				<img src="images/navbar/jop-logo.svg" class="icon-navbar">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto ">
					<li class="nav-item">
						<a class="nav-link smooth-scroll" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link smooth-scroll" href="#timeline">Timeline</a>
					</li>
					<li class="nav-item">
						<a class="nav-link smooth-scroll" href="#token-sale">Token Sale</a>
					</li>
					<li class="nav-item">
						<a class="nav-link smooth-scroll" href="#brainpower">Brainpower</a>
					</li>
					<li class="nav-item">
						<a class="nav-link smooth-scroll" href="#whitepaper">Whitepaper</a>
					</li>
					<li class="nav-item">
						<a class="nav-link d-md-none d-lg-none d-xl-none smooth-scroll" href="#register">Register</a>
					</li>
				</ul>
				<a href="#register" class="navbar-nav my-2 my-lg-0 button small yellow d-none d-md-block d-lg-block d-xl-block smooth-scroll">Register</a>
			</div>
		</nav>

		<div class="container-fluid position-relative" id="wrapper">

			<section class="banner style5 color3 orient-center content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-right" id="header">
				<div class="content">
					<h1>Tokenized Services Platform<br><span class="subtitle">Connecting Peers Since 2016</span></h1>
					<p class="major mt-3 mb-5">Welcome to the future of the On-Demand Economy, powered by blockchain</p>
					<ul class="actions">
						<li><a :href="whitepaper" target="_blank" class="button wide">Whitepaper</a></li>
						<li><a :href="lightpaper" target="_blank" class="button wide">Lightpaper</a></li>
					</ul>
					<ul class="icons mt-2" >
						<li v-for="icon in links" class="wide">
							<a :href="icon.href" class="icon style1" target="_blank"><i class="fab" :class="icon.fa"></i></a>
						</li>
					</ul>
					<ul class="actions mt-5 pt-4">
						<li>
							<a target="_blank" href="https://app.adjust.com/cid86iv" class="button special wide">
								<div class="d-flex flex-row justify-content-center align-items-center">
									<img src="images/icons/apple.svg" class="d-block mr-2">
									App Store
								</div>
							</a>
						</li>
						<li>
							<a target="_blank" href="https://app.adjust.com/wve5khx" class="button special wide">
								<div class="d-flex flex-row justify-content-center align-items-center">
									<img src="images/icons/play-store.svg" class="d-block mr-2">
									Google Play
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="image">
					<img src="images/banner/banner.jpg" srcset="images/banner/banner@2x.jpg 2x, images/banner/banner@3x.jpg 3x"/>
				</div>
			</section>

			<!-- M4k3 y0ur m0u53 burn -->
			<section class="wrapper style1 align-center color1"  id="about">
				<div class="inner">
					<div class="row mt-5">
						<div class="col-12 col-md-7 align-left pr-md-7 d-flex flex-column align-self-center">
							<h2>Jop is all you need</h2>
							<p class="headline">We are changing the way people work together.</p>
							<p>Our mission is to empower all individuals with the most efficient platform to work for each other, with no intermediary.</p>
						</div>
						<div class="col-12 col-md-5 p-5 p-md-0 pl-md-4 ">
							<span class="image fit">
								<img src="images/content/jop.svg">
							</span>
						</div>
					</div>
				</div>
				<div class="inner" id="market">
					<h2>Market Opportunity</h2>
					<div class="mt-3 mb-5 px-md-5 px-0">
						<div class="quote-background pt-4 py-3">
							<p class="quote">We’ve only just scratched the surface of this tremendous market opportunity, given <b>90%</b> of home improvement transactions <b>are still generated</b> via <b>word-of-mouth.</b></p>
						</div>
						<p class="quote-source text-right">- Chris Terrill CEO of Angie’s List & HomeAdvisor</p>
					</div>

					<div class="items onload-fade-in row">
						<div class="col-12 col-md-6 col-xl-3">
							<img src="images/icons/oppportunity/market.svg" class="icon-jop icon-oppportunity">
							<p>$400B+ Home Services Addressable Market</p>
						</div>
						<div class="col-12 col-md-6 col-xl-3">
							<img src="images/icons/oppportunity/workers.svg" class="icon-jop icon-oppportunity">
							<p>68M On-demand US Workers</p>
						</div>
						<div class="col-12 col-md-6 col-xl-3">
							<img src="images/icons/oppportunity/on-demand-economy.svg" class="icon-jop icon-oppportunity">
							<p>On-Demand Economy: $100B+ Industry</p>
						</div>
						<div class="col-12 col-md-6 col-xl-3">
							<img src="images/icons/oppportunity/future.svg" class="icon-jop icon-oppportunity">
							<p>2025 On-Demand Economy Estimate: $335B</p>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-left color2" id="problem">
				<div class="inner">
					<div class="line">
						<hr class="left"><h3 class="left">The Problem</h3>
					</div>
					<div class="items onload-fade-in row">
						<div class="col-12 col-md-4 p-3 pr-md-5">
							<img src="images/icons/problem/business-model.svg" class="icon-jop icon-problem">
							<h4>Centralized Structure</h4>
							<p>Competing apps retain the majority of revenue, <b>undercompensating</b> service providers, <b>overcharging</b> customers, and <b>benefiting only a few stakeholders.</b></p>
						</div>
						<div class="col-12 col-md-4 p-3 px-md-4">
							<img src="images/icons/problem/acquisition.svg" class="icon-jop icon-problem">
							<h4>Acquisition Costs</h4>
							<p>With <b>inflated prices,</b> user acquisition and retention is challenging. Marketplaces <b>exhaust budgets</b>, often paying <b>over $100</b> per customer.</p>
						</div>
						<div class="col-12 col-md-4 p-3 pl-md-5">
							<img src="images/icons/problem/retention.svg" class="icon-jop icon-problem">
							<h4>Low Retention</h4>
							<p>The <b>value lost</b> on transaction fees, <b>outweighs</b> the <b>benefits</b> of using apps, so customers and providers are motivated to connect off platform for a better deal.</p>
						</div>
					</div>
				</div>
			</section>

			<!-- 4lm057 7h3r3 ! -->
			<section class="wrapper style1 align-left color1" id="solution">
				<div class="inner">
					<div class="line">
						<hr class="left"><h3 class="left">Our Solution</h3>
					</div>

					<div class="items onload-fade-in row justify-content-center">
						<div class="col-12 col-md-4 p-3 pr-md-5">
							<img src="images/icons/solution/growth.svg" class="icon-jop icon-solution">
							<h4>Decentralized Payments</h4>
							<p>Jop is integrating Jop Token <b>(JOPT)</b>, enabling users to pay for services on the Ethereum Blockchain. With <b>no intermediary fees</b>, customers pay the <b>lowest prices</b>, and service providers receive the <b>highest earnings possible.</b></p>
						</div>
						<div class="col-12 col-md-4 p-3 px-md-4">
							<img src="images/icons/solution/power-value.svg" class="icon-jop icon-solution">
							<h4>Peer Governance</h4>
							<p>Jop is establishing a <b>blockchain voting system</b> to decentralize platform governance. Jop users are empowered with the responsibility to ensure platform <b>fairness</b> and the <b>security</b> of knowing their peers will do the same.</p>
						</div>
						<div class="col-12 col-md-4 p-3 pl-md-5">
							<img src="images/icons/solution/user-value.svg" class="icon-jop icon-solution">
							<h4>Distributed Value</h4>
							<p>In addition to JOPT voting incentives, users <b>earn rewards</b> based on network participation. As JOPT holders, <b>all participants</b> in the ecosystem share <b>aligned incentives</b> to grow the network, and maintain the ecosystem.</p>
						</div>

						<div class="col-12 col-sm-10 col-md-10 col-lg-8 col-xl-7 mt-5">
							<span class="image fit">
								<img src="images/content/jop-token-ecosystem.png" srcset="images/content/jop-token-ecosystem@2x.png 2x, images/content/jop-token-ecosystem@3x.png 3x">
							</span>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-left color2" id="solution">
				<img class="background-image logo right" src="images/background/logo-light.png" srcset="images/background/logo-light@2x.png 2x,images/background/logo-light@3x.png 3x">
				<div class="inner">
					<div class="items onload-fade-in row botton-wrapper">
						<div class="col-12 col-md-6">
							<h2>Jop is live</h2>
							<div class="table-wrapper">
								<table class="table table-sm table-borderless">
									<tbody>
										<tr v-for="table in table.jopLive">
											<th class="table-jop-live">{{ table.title }}</th>
											<td>{{ table.content }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 col-md-6 text-center">
							<span class="image">
								<img src="images/content/iphone.png" srcset="images/content/iphone@2x.png 2x, images/content/iphone@3x.png 3x">
							</span>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-left color1" id="how-it-works">
				<div class="inner">
					<div class="line small">
						<hr class="left"><h3 class="left">How it works</h3>
					</div>
					<div class="row carousel-main">
						<div class="col-12 col-md-6 pt-3 pt-md-7">
							<h4>Customer Interface</h4>
							<ul class="interface">
								<li>Book your service in 1 minute, receive it in 1 hour!</li>
								<li>Choose a Jopper, who is available for your service.</li>
								<li>Pay with fiat currency, and enjoy lower fees than any competing platform.</li>
								<li>Pay with Jop Token, and enjoy no fees.</li>
								<li>Earn JOPT rewards for every service you book!</li>
							</ul>
						</div>
						<div class="col-12 col-md-6 pt-5 pt-md-0 text-center carousel-container ">
							<div id="carousel-user-ui" class="carousel slide carousel-fade" data-ride="carousel">
								<ol class="carousel-indicators" >
									<li v-for="index in carousel.user.size" data-target="#carousel-user-ui" :data-slide-to="index" :class="{ active: index == 1}"></li>
								</ol>
								<div class="carousel-inner">
									<div v-for="index in carousel.user.size" class="carousel-item" :class="{ active: index == 1}">
										<img class="" :src="carousel.user.path + index + '.png'"
										:srcset="carousel.user.path + index + '@2x.png 2x, ' + carousel.user.path + index + '@3x.png 3x'"
										>
									</div>
								</div>
								<a class="carousel-control-prev d-none d-sm-flex" href="#carousel-user-ui" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								</a>
								<a class="carousel-control-next d-none d-sm-flex" href="#carousel-user-ui" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row carousel-main">
						<div class="col-12 col-md-6 pt-5 pt-md-0 text-center carousel-container order-2 order-md-1">
							<div id="carousel-jopper-ui" class="carousel slide carousel-fade" data-ride="carousel">
								<ol class="carousel-indicators" >
									<li v-for="index in carousel.jopper.size" data-target="#carousel-jopper-ui"
									:data-slide-to="index" :class="{ active: index == 1}"></li>
								</ol>
								<div class="carousel-inner">
									<div v-for="index in carousel.jopper.size" class="carousel-item" :class="{ active: index == 1}">
										<img :src="carousel.jopper.path + index + '.png'"
										:srcset="carousel.jopper.path + index + '@2x.png 2x, ' + carousel.jopper.path + index + '@3x.png 3x'"
										>
									</div>
								</div>
								<a class="carousel-control-prev d-none d-sm-flex" href="#carousel-jopper-ui" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								</a>
								<a class="carousel-control-next d-none d-sm-flex" href="#carousel-jopper-ui" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div class="col-12 col-md-6 pt-3 pt-md-7 order-1 order-md-2">
							<h4>Jopper Interface</h4>
							<ul class="interface">
								<li>List services you provide and set your own prices.</li>
								<li>Once approved as a Jopper, get notifications when nearby customers request one of your services.</li>
								<li>Accept customer requests to connect.</li>
								<li>Earn more on Jop, with the lowest fiat currency fees in the market, and no fees when you accept payment in JOPT.</li>
								<li>Earn JOPT rewards for every completed service!</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<!-- N4h! ju57 k1dd1n6 17'5 f4r d0wn ! -->
			<section class="wrapper style3 align-left color3" id="comments">
				<div class="row">
					<div class="col-12 col-lg-6 col-xl-5">

						<div class="d-flex flex-row">
							<div class="carousel-comments-controls align-self-center">
								<a class="carousel-comments-controls-up">
									<img src="images/icons/carousel/up.svg">
								</a>
								<a class="carousel-comments-controls-down">
									<img src="images/icons/carousel/down.svg">
								</a>
							</div>
							<div class="position-relative">
								<div class="carousel-comments">
									<div class="carousel-comments-inner" v-for="comments in carousel.comments.datas">
										<p class="content">"{{comments.content}}"</p>
										<div class="media">
											<img class="rounded-circle align-self-center mr-3"
											:src="carousel.comments.path + comments.image + '.png'"
											:srcset="carousel.comments.path + comments.image + '@2x.png 2x, ' + carousel.comments.path + comments.image + '@3x.png 3x'"
											>
											<div class="media-body">
												<p class="who">{{comments.name}}</p>
											</div>
										</div>
									</div>
								</div>
								<div class="carousel-comments-gradient up"></div>
								<div class="carousel-comments-gradient down"></div>
							</div>
						</div>
					</div>
					<div class="col">
						<img class="background-image top right h-100" src="images/background/media.png" srcset="images/background/media@2x.png 2x, images/background/media@3x.png 3x">
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-center" id="timeline">
				<div class="inner pb-0">
					<div class="d-flex justify-content-center align-items-center">
						<div>
							<hr>
						</div>
						<h3 class="ml-3">Timeline</h3>
					</div>
					<div class="items onload-fade-in row mt-3">
						<div class="col-12 col-md-6 px-2 mb-0">
							<img class="img-fluid" src="images/content/timeline/phase-1.png" srcset="images/content/timeline/phase-1@2x.png 2x, images/content/timeline/phase-1@3x.png 3x">
						</div>
						<div class="col-12 col-md-6 px-2 mb-0 text-align-right">
							<img class="img-fluid d-none d-md-inline" src="images/content/timeline/phase-2.png" srcset="images/content/timeline/phase-2@2x.png 2x, images/content/timeline/phase-2@3x.png 3x">
							<img class="img-fluid d-inline d-md-none " src="images/content/timeline/phase-2-sm.png" srcset="images/content/timeline/phase-2-sm@2x.png 2x, images/content/timeline/phase-2-sm@3x.png 3x">
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-left color3" id="token-sale">
				<img class="background-image bottom left third" src="images/background/logo-blue.png" srcset="images/background/logo-blue@2x.png 2x,images/background/logo-blue@3x.png 3x">
				<div class="inner pt-5">
					<div class="row token-sale">
						<div class="col-12 col-md-3">
							<div class="position-relative">
								<hr class="left"><h3 class="left">token sale</h3>
							</div>
							<p class="content mt-3">JOPT  will be issued after the public sale. Once completed, no further token will be generated.</p>
						</div>
						<div class="col-12 col-md-9 px-5 pt-5">
							<table class="table table-token">
								<tbody>
									<tr v-for="table in table.tokenSale">
										<td class="table-token-title" v-html="table.title"></td>
										<td class="table-token-content">
											<p v-for="content in table.content" v-html="content">
											</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-center" id="token-allocation">
				<div class="inner">
					<h2>Token Allocation</h2>
					<div class="row justify-content-center">
						<div class="col-md-10 mt-5">
							<span class="image fit">
								<img class="img-fluid" src="images/content/chart.png" srcset="images/content/chart@2x.png 2x, images/content/chart@3x.png 3x">
							</span>
						</div>
					</div>
				</div>
				<div class="inner">
					<h2>Use of Funds</h2>
					<div class="items onload-fade-in row mt-5">
						<div v-for="fund in list.funds.data" class="col-12 col-sm-3 px-2 px-md-4 fund-item">
							<div class="d-flex flex-row justify-content-center align-items-center">
								<img :src="list.funds.path + fund.image" class="icon-chart">
								<p class="percentage">{{ fund.amount }}%</p>
							</div>
							<h4 v-html="fund.title" class="mt-2"></h4>
							<p v-html="fund.content" class="mt-2"></p>
						</div>
					</div>
				</div>
			</section>

			<!-- 7h3r3 y0u 60 ! -->
			<section class="wrapper style1 align-center" id="brainpower">
				<div class="inner">
					<div class="d-flex justify-content-center align-items-center">
						<div>
							<hr>
						</div>
						<h3 class="ml-3">Brainpower</h3>
					</div>
					<h2 class="mt-5 md-5">Made Of Amazing People</h2>
					<div class="row onload-fade-in items mt-5" >
						<div class="col-12" :class="item.classObject" v-for="item in list.team.data.main">
							<a :href="item.link" target="_blank" class="team-link">
								<div class="d-flex flex-column p-2 team-shadow ">
									<div class="team">
										<img src="images/background/team.png" srcset="images/background/team@2x.png 2x,images/background/team@3x.png 3x">
										<img class="background-image team"
										:src="list.team.path + item.image + '.png'"
										:srcset="list.team.path + item.image + '@2x.png 2x, ' + list.team.path + item.image + '@3x.png 3x'"
										>
									</div>
									<p class="mt-3 team-name"><b>{{ item.name }}</b></p>
									<div class="mb-3">
										<div class="d-flex flex-row justify-content-center align-items-center">
											<p>{{ item.title }}</p>
											<img class="linkedin ml-2" :src=" item.icon ? 'images/icons/'+item.icon : 'images/icons/linkedin.svg'">
										</div>
									</div>
									<p class="text-left">{{ item.content }}</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="mb-5">
					<div class="d-md-inline-flex flex-row justify-content-center align-items-center">
						<div class="mx-5 mx-md-3">
							<img class="img-fluid" src="images/team/joppers.png" srcset="images/team/joppers@2x.png 2x, images/team/joppers@3x.png 3x"/>
						</div>
						<h2 class="mx-5  mx-md-3">Backed by 6,400 Jopper Community</h2>
					</div>
				</div>
			</section>

			<!-- 700 f4r -->
			<section class="wrapper style1 align-center color1" id="partners">
				<div class="inner">
					<h2>Partners</h2>
					<div class="row onload-fade-in items mt-5">
						<div class="col-12 col-md-6 col-xl-3 p-2" v-for="item in partners.data">
							<img class="img-fluid" :src="partners.path + item + '.png'"
							:srcset="partners.path + item + '@2x.png 2x, ' + partners.path + item + '@3x.png 3x'"
							:alt="item"
							>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-center" id="moments">
				<div class="gallery small style2 medium lightbox onscroll-fade-in">
					<article v-for="index in carousel.moments.size" >
						<img
						:src="carousel.moments.path + index + '.jpg'"
						:srcset="carousel.moments.path + index + '@2x.jpg 2x, ' + carousel.moments.path + index + '@3x.jpg 3x'"
						>
					</article>
				</div>
			</section>

			<!-- 5cr0ll up -->
			<section class="wrapper style1 align-center" id="whitepaper">
				<div class="inner">
					<div class="d-flex align-self-start justify-content-center">
						<img class="d-none d-sm-none d-md-none d-lg-block" src="images/content/whitepaper.png" srcset="images/content/whitepaper@2x.png 2x, images/content/whitepaper@3x.png 3x"/>
						<div class="d-flex flex-column whitepaper">
							<div class="d-flex justify-content-center align-items-center">
								<div>
									<hr>
								</div>
								<h3 class="ml-3">Whitepaper</h3>
							</div>
							<div class="mt-5">
								<ul class="actions vertical">
									<li><a :href="whitepaper" target="_blank" class="button wide blue">Whitepaper</a></li>
									<li><a :href="lightpaper" target="_blank" class="button wide blue">Lightpaper</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style1 align-center" id="register">
				<div class="inner">
					<h5>Stay Informed</h5>
					<div class="mb-3 mt-5 align-left">
						<p class="mb-2 ml-1">Enter your email below and to receive the latest news directly in your inbox</p>
						<form action="https://jop.us13.list-manage.com/subscribe/post?u=2ed28f4f751b9ad493cc54a8f&amp;id=cf3dc6583a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2ed28f4f751b9ad493cc54a8f_cf3dc6583a" tabindex="-1" value=""></div>
							<div class="input-group">
								<input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Your E-mail" required>
								<input type="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>
			</section>

			<!-- wh47 7h3 h3ck 4r3 y0u d01n6 h3r3 !  -->
			<footer class="banner style5 color3 orient-center content-align-center image-position-center" id="">
				<div class="content">
					<img src="images/navbar/jop-logo.svg" class="icon-footer mt-5 mb-5">
					<div class="d-flex flex-column flex-sm-row justify-content-center footer-link mb-3">
						<a href="https://www.jop.me/faq" target="_blank">FAQ</a>
						<a href="https://www.jop.me/privacy" target="_blank">Privacy Policy</a>
						<a href="https://www.jop.me/terms" target="_blank">Terms & Conditions</a>
						<a href="https://www.jop.me/contact" target="_blank">Contact Us</a>
						<a href="https://www.jop.me/" target="_blank">Jop.me</a>
					</div>


					<div class="d-flex flex-row  justify-content-center align-items-center pt-5 pb-5">
						<!-- <p class="pr-3 follow">Follow us</p> -->
						<div class="d-flex flex-row justify-content-center align-items-center" v-for="icon in links">
							<a target="_blank" :href="icon.href" class="icon-dark">
								<i class="fab" :class="icon.fa"></i>
							</a>
						</div>
					</div>

				</div>
				<div class="image">
					<img src="images/banner/banner.jpg" srcset="images/banner/banner@2x.jpg 2x, images/banner/banner@3x.jpg 3x"/>
				</div>
			</footer>
		</div>

		<script src="assets/js/vue.min.js"></script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/bootstrap/bootstrap.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/vue.js"></script>

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74137141-5"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-74137141-5');
		</script>

	</body>
</html>
